# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Virtual environments
venv/
env/
ENV/

# IDE specific files
.idea/
.vscode/

# Miscellaneous
*.pyc
*.bak
*.swp
.DS_Store

.hypothesis/
.pytest_cache/

sandbox.py

# Staging
# https://pypi.org/project/regex/2022.1.18/#files
# https://files.pythonhosted.org/packages/4c/75/b5b60055897d78882da8bc4c94609067cf531a42726df2e44ce69e8ec7a9/regex-2022.1.18.tar.gz
regex-2022.1.18.tar.gz